@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #app {
    @apply h-screen w-screen
}

.flex-center{
    @apply flex justify-center items-center
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.gradient-text{
    background-size: 200% 200%;
    @apply animate-background-scroll text-transparent bg-gradient-to-tl from-amber-500 to-pink-500 bg-clip-text
}